body {
    background: midnightblue;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
    color: midnightblue; 
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    height: 35px;
    width: 150px;
}

.nav-left ,.nav-right {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.search-box{
    background: #efefef;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 18px;
    padding-right: 3px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;  
    outline: none;
    border: 0;  
}

a {
    text-decoration: none;
    color: white;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    background-color: black;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.Profile-pic {
    display: flex;
    justify-content: center;
    height: 100px;
    background: white;
    margin-bottom: 5px;
}

.nav-menu div{
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;

}
.nav-menu{
    width: 30px;
    display: block;
}

.one{
    width: 30px;
}

.two{
    width: 20px;
}

.three{
    width: 25px;
}

.nav-menu:hover div{
    width: 30px;
}


.banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
}

.live-banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
}

.video {
    display: flex;
    padding: 50px 50px;
    width: 350px;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.achievements {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.a-text-header {
    font-weight: bold;
    font-size: 18px;
}

.middle {
    display: flex;
    justify-content:space-evenly;
}

.socials , .stream-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    padding-bottom: 20px;
}

.special-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 400px;
    margin-top: 16px;
    margin-left: 30px;
    background: white;
}

.games {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.game {
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
}

#header {
    font-weight: bold;
    font-size: 18px;
}

.links a, .stream-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    width: fit-content;
}

.links a img, .stream-links a img{
    width: 25px;
    margin-right: 15px;

}
